{{ define "main" }}
    {{ partial "pageHeader.html" . }}
    <div class="content">
        {{ .Content }}
    </div>
    <h3 class="title">{{ T "talks-paginator-heading" }}:</h3>
    {{ $baseUrl := .Site.BaseURL }}
    {{ $paginator := .Paginate ((.Pages.ByParam "when").Reverse) }}
    {{ partial "paginator-buttons.html" $paginator }}
    {{ range $paginator.Pages }}
        <div class="box">
            <div class="pageHeaderContainer">
                {{ partial "talksPageHeader.html" . }}
            </div>
            <div class="content"><p> {{ .Summary  }} <a href="{{ .Permalink }}">{{ T "readmore" }}</a> </p></div>
        </div>
    {{ end }}
    {{ partial "paginator-buttons.html" $paginator }}
{{ end }}